{{define "shorten/index.tmpl"}}
<!DOCTYPE html>
<html lang="en" >
<head>
	<meta charset="UTF-8">
	<title>Url Shortener - error page</title>
	<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:900" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="/static/style.css">
</head>
<body>
<!-- partial:index.partial.html -->
<main>
	<div id="wrap">
		<div class="hand hand-left">
			<span class='hand-part part-top'></span>
			<span class='hand-part part-middle'></span>
			<span class='hand-part part-bottom'></span>
		</div>
		<div class="hand hand-right">
			<span class='hand-part part-top'></span>
			<span class='hand-part part-middle'></span>
			<span class='hand-part part-bottom'></span>
		</div>
		{{range $index, $val := (.status | getStatus)}}
			<div class='line line-{{$index | indexPlus}}'>
				<div class="ball">{{$val}}</div>
			</div>
		{{end}}
		<div id="server">
			<div class="eye eye-left"><span></span></div>
			<div class="eye eye-right"><span></span></div>
			<div class="block">
				<div class="light"></div>
			</div>
			<div class="block">
							<div class="light"></div>
			</div>
			<div class="block">
							<div class="light"></div>
			</div>
			<div class="block">
							<div class="light"></div>
			</div>
			<div class="block">
							<div class="light"></div>
			</div>
			<div id="bottom-block">
				<div class="bottom-line"></div>
				<div id="bottom-light"></div>
			</div>
		</div>	
	</div>
	
	<div id="code-error">
		<h1>{{.msg}}</h1>
	</div>
	
</main>
</body>
</html>
{{end}}
